table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

// Popup

button {
 padding: 8px 16px;
 border-radius: 8px;
 border-style: solid;
}

dialog {
 width: 200px;
 height: 200px;
 height: fit-content;
 background-color: lightgray;
 border-radius: 8px;
}

dialog img {
 width: 100%;
}

::backdrop{
    background: linear-gradient(to right, #ff7e5f88, #feb47b88)
}